<body>
    <div class="titulos" *ngFor="let lista of listas">
        <h1>{{lista}}</h1>
        <div class="cuerpo">
            <div *ngFor="let tarea of tareas; index as i">
                <app-tarea *ngIf="tarea.lista == lista" [tareas] = "tareas[i]"></app-tarea>
            </div>
            <button type="submit" (click)="mostrarForm(this)">+ Añadir Tarea Nueva</button>
        </div>
    </div>
    <app-formulario (guardarForm)="leerFormulario($event)" style="display:none;"></app-formulario>
</body>


    


