<body *ngIf="forms == true">
    <div class="titulos" *ngFor="let lista of listas">
        <h1>{{lista}}</h1>
        <div class="cuerpo">
            <div *ngFor="let tarea of tareas; index as i">
                <app-tarea *ngIf="tarea.lista == lista" [tareas] = "tareas[i]" (click)="mostrarForm(tarea)"></app-tarea>
            </div>
            <button type="submit" (click)="mostrarForm()">+ Añadir Tarea Nueva</button>
        </div>
    </div>
</body>
<div *ngIf="forms != true" >
    <app-formulario 
    [tareas]="this.tareas" 
    [forms]="this.forms" 
    [tareaSeleccionada]="this.tareaSeleccionada" 
    [listas]="this.listas" 
    (guardarForm)="leerFormulario($event)" (cerrarForm)="esconderForm($event)"></app-formulario>
</div>


    


