body{
    background-color: rgb(230, 190, 141);
}

.cuerpo{
    margin: 8rem;
    text-align: center;
    font-weight: bold;
    display: inline-grid;
    margin-top: -10px !important;
}

.titulos{
    display: inline-grid;
    text-align: center;
    border: solid 1px rgb(136, 101, 58);
    background-color: rgb(136, 101, 58);
    border-radius: 5%;
    height: 580px;
    margin-left: 60px;
    margin-top: 50px;
}

button{
    background-color: bisque;
    height: 30px;
    border: none;
}
