.clearfix::after,
.calendar ol::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* ================
Calendar Styling */
.calendar {
  border-radius: 10px;
}

.month {
  font-size: 2rem;
}

.calendar ol li {
  float: left;
  width: 14.28571%;
}

.calendar .day-names {
  border-bottom: 1px solid #eee;
}

.calendar .day-names li {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.calendar .days li {
  border-bottom: 1px solid #eee;
  min-height: 8rem;
}

.calendar .days li .date {
  margin: 0.5rem 0;
}

.calendar .days li .event {
  font-size: 0.75rem;
  padding: 0.4rem;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4rem;
  margin-bottom: 1px;
}

.calendar .days li .event.span-2 {
  width: 200%;
}

.calendar .days li .event.begin {
  border-radius: 1rem 0 0 1rem;
}

.calendar .days li .event.end {
  border-radius: 0 1rem 1rem 0;
}

.calendar .days li .event.clear {
  background: none;
}

.calendar .days li:nth-child(n+29) {
  border-bottom: none;
}

.calendar .days li.outside .date {
  color: #ddd;
}

p{
  display: inline-block;
  padding-top: 50px;
  padding-left: 120px;
}

.FestivoRegional{
  border: solid 1px #660066;
  border-bottom: solid 1px #660066 !important;
  background-color: #660066;
  width: 50px;
  border-radius: 50%;
  background-color:'#660066';
  font-weight: bold;
}

.FestivoLocal{
  border: solid 1px violet;
  border-bottom: solid 1px violet !important;
  background-color: violet;
  width: 50px;
  border-radius: 50%;
  background-color: 'violet';
  font-weight: bold;
}

.FestivoNacional{
  border: solid 1px green;
  border-bottom: solid 1px green !important;
  background-color: green;
  width: 50px;
  border-radius: 50%;
  background-color: 'green';
  font-weight: bold;
}

.FestivoCentro{
  border: solid 1px yellow;
  border-bottom: solid 1px yellow !important;
  background-color: yellow;
  width: 50px;
  border-radius: 50%;
  background-color: 'yellow';
  font-weight: bold;
}

.hidden{
  display: none;
}