body{
    background-color: rgb(230, 190, 141);
}

.cuerpo{
    padding: 8rem;
    text-align: center;
    font-weight: bold;
    display: table-cell;
}

.titulos{
    display: inline-block;
    text-align: center;
}
