<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<body>
  <div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
      <div class="loginbackground box-background--white padding-top--64">
        <div class="loginbackground-gridContainer">
          <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
            <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
            </div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
            <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
            <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
            <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
            <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
            <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
            <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
            <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
            <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
          </div>
        </div>
      </div>
      <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="formbg-outer">
          <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
              <span class="padding-bottom--15">Añadir tarea</span>
              <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" id="stripe-login">
                <mat-card class="card">
                  <mat-form-field appearance="fill">
                    <mat-label>Titulo</mat-label>
                    <input matInput formControlName="titulo" required/>
                    <mat-error *ngIf="taskForm.invalid">{{getErrorTitulo()}}</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estado">
                      <mat-option *ngFor="let estado of this.listas" value = {{estado}}>{{estado}}</mat-option>
                    </mat-select> 
                  </mat-form-field><br />
                  <mat-form-field appearance="fill">
                    <input matInput [matDatepicker]="picker" formControlName="fechaFin"/>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="taskForm.invalid">{{getErrorEstado()}}</mat-error> 
                  </mat-form-field>
                  <br/>
                  <mat-form-field appearance="fill">
                    <mat-label>URL</mat-label>
                    <input matInput  formControlName="img"/> 
                  </mat-form-field>
                  <br/>
                  <!-- <button mat-fab (click)="addUsuario()">+</button> -->
                  <!-- <div class="usuario">
                    <img matTooltip="{{ nick }}" class="" src="{{ nick }}"/>
                  </div> -->
                  <!-- <div class="usuario" *ngFor="let usuario of arrayUsuarios; index as i">
                    <br />
                    <img
                      *ngIf="arrayVisibilidad[i] == true"
                      matTooltip="{{ usuario.alt }}"
                      class="imagen-user"
                      src="{{ usuario.alt }}"
                    />
                  </div> -->
                  <br />
                  <button type="submit" [disabled]="!taskForm.valid" class="btn btn-primary" style="width: 100%;">Guardar</button>
                  <br>
                  <button (click)="cancelarTareaEstado(true)" mat-raised-button color="warn">Cancelar</button>
                </mat-card>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>