<div class="card-container">
  <div class="card" *ngFor="let Character of this.serverCharacters">
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="Character.name" [disabled]="(Character.editable) ? false : true"/>
    <br>
    <label *ngIf="(Character.mostrar==true)">Fuerza:</label>
    <input *ngIf="(Character.mostrar==true)" type="text" [(ngModel)]="Character.strength" [disabled]="(Character.editable) ? false : true"/>
    <br>
    <label *ngIf="(Character.mostrar==true)">Destreza:</label>
    <input *ngIf="(Character.mostrar==true)" type="text" [(ngModel)]="Character.agility" [disabled]="(Character.editable) ? false : true"/>
    <br>
    <label *ngIf="(Character.mostrar==true)">Inteligencia:</label>
    <input *ngIf="(Character.mostrar==true)" type="text" [(ngModel)]="Character.intelligence" [disabled]="(Character.editable) ? false : true"/>
    <br>
    <label *ngIf="(Character.mostrar==true)">Constitucion:</label>
    <input *ngIf="(Character.mostrar==true)" type="text" [(ngModel)]="Character.life" [disabled]="(Character.editable) ? false : true"/>
    <br>
    <br>
    <input *ngIf="(Character.mostrar==true)" type="button" (click)="print = editar(Character,print)" [value] = "(Character.boton)"/>
    <input type="button" (click)="print = mostrar(Character,print)" [value] = "(Character.boton2)"/>
  </div>
  <!-- Dentro del parágrafo va la información del Character que se está modifcando -->
  <p>{{print}}</p>
</div>
